* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

body,
.works {
  background: #e5e5e5;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.justify-content-between {
  justify-content: space-between;
}

.hover:hover {
  cursor: pointer;
}

/* Styles for mobile devices with a minimum screen width of 375px */
@media (min-width: 375px) {
  .navbar {
    padding: 14px 24px;
    background-color: #ffff;
  }

  .main {
    flex-direction: column;
    min-height: 80vh;
    row-gap: 12px;
    background-image: url(img/header-shapes\ mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 24px 24px;
    border-bottom-left-radius: 58px;
    background-color: #ffff;
    margin-bottom: 112px;
  }

  .logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .intro {
    margin-top: 114px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .intro-sub {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .socials {
    flex-direction: column;
    column-gap: 14px;
  }

  .socials-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-transform: uppercase;
  }

  .socials-icons {
    width: 46%;
    margin-bottom: 112px;
  }

  .works {
    row-gap: 88px;
    align-items: center;
    margin-top: 114px;
    justify-content: center;
    padding: 0 24px;
  }

  .tonic {
    padding: 28px 16px;
    background-color: #ffff;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 16px;
    row-gap: 12px;
  }

  .works-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .works-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .header-sub {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    justify-content: space-between;
    width: 80%;
  }

  .main-header {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .works-image img {
    width: 100%;
  }

  .works-stack {
    width: 70%;
  }

  .works-stack li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .works-button {
    padding: 12px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: 126px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
  }

  .works-button:hover {
    border: 1px solid #7e9ef0;
    color: #ffff;
    background-color: #396df2;
  }

  .about {
    flex-direction: column;
    background-color: #ffff;
    margin-top: 114px;
    border-top-right-radius: 58px;
    padding: 144px 24px;
  }

  .about-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-bottom: 12px;
  }

  .about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 12px;
  }

  .socials-about {
    flex-direction: column;
    row-gap: 22px;
  }

  .socials-about .socials-icons {
    margin-bottom: 0;
  }

  .resume {
    width: fit-content;
    background-color: #ffff;
  }

  .stack {
    margin-top: 60px;
  }

  .stack-wrap {
    border-bottom: 2px solid #dfe1e6;
  }

  .languages .stack-wrap {
    border-bottom: none;
  }

  .stack-header {
    padding: 24px 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .header-text {
    margin: auto 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .dropdown {
    border: none;
    background-color: #ffff;
  }

  .stack-list {
    flex-direction: column;
    gap: 12px;
  }

  .stack-list li {
    padding: 9px 12px;
    column-gap: 16px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .language-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: auto 0;
  }

  .contact {
    background-color: #ffff;
  }

  .contact-wrap {
    flex-direction: column;
    background-color: #6070ff;
    border-top-left-radius: 58px;
    background-image: url(img/contact\ form\ shapes-mobile@2x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .contact-intro {
    flex-direction: column;
    row-gap: 12px;
    padding: 0 24px;
  }

  .contact-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #ffff;
    margin-top: 103px;
  }

  .contact-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ffff;
    margin-bottom: 52px;
  }

  .contact-form {
    flex-direction: column;
    padding: 0 24px 45px;
    row-gap: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    border-radius: 8px;
    padding: 15px 38px 15px 16px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border: none;
    color: #172b4d;
  }

  .contact-message {
    height: 170px;
    resize: none;
    margin-bottom: 1px;
  }
}
